<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head}"></div>
    <title>Ingredienti</title>
</head>
<body>
    <div th:replace="~{navbar :: navbar}"></div>
    <div th:replace="~{fragments :: toast}"></div>
    <div class="container">
    <div class="row py-4">
        <div class="col-5">
            <form th:action="@{/ingredienti/create}" method="post" id="ingredient-form" th:object="${ing}"  sec:authorize="hasAuthority('ADMIN')">
                <div class="input-group">
                    <div class="form-floating">
                        <input th:field="*{ingredient}" type="text" class="form-control" id="ingredient" placeholder="Nome ingrendiente" th:errorClass="is-invalid">
                        <label for="ingredient">Nome ingrendiente</label>
                    </div>
                    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-plus"></i> AGGIUNGI</a>
                    </div>
                    <div th:if="${#fields.hasErrors('ingredient')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('ingredient')}" th:text="${err}"></li>
                        </ul>
                    </div>
            </form>
        </div>
    </div>
    <div class="row" th:unless="${ingredients.isEmpty()}">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Pizze che lo usano</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingredient : ${ingredients}">
                            <td th:text="${ingredient.ingredient}"></td>
                            <td th:text="${ingredient.pizze.size()}"></td>
                            <td>
                                <form th:action="@{'/ingredienti/delete/{id}'(id=${ingredient.id})}" method="post" id="delete-form" sec:authorize="hasAuthority('ADMIN')">
                                    <button class="btn btn-danger" type="submit" id="submitButton" onclick="return confirm('Sei sicuro di voler proseguire?')"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="row" th:if="${ingredients.isEmpty()}">
        <div class="col">
            <h3>Non ci sono ingredienti</h3>
        </div>
    </div>

    <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>