<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head}"></div>
    <title>Aggiungi nuova offerta</title>
</head>
<body>
    <div th:replace="~{navbar :: navbar}"></div>
    <div class="container">
    <div class="row py-4">
            <div class="col-12">
                <h1 class="text-center">Modifca <span th:text="${deal.name}"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <form class="row g-3" id="deal-form" th:object="${deal}" th:action="@{/deals/edit/{id}(id=${deal.id})}" method="post">
                    <input type="hidden" th:field="*{pizza}" id="pizza">
                    <div class="col-6">
                        <label for="name" class="form-label">Nome</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name" th:errorClass="is-invalid">
                          <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                              <ul>
                                  <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-6">
                          <label for="price" class="form-label">Prezzo in offerta</label>
                          <div class="input-group">
                                <input th:field="*{price}" type="number" class="form-control  text-end" id="price" th:errorClass="is-invalid">
                                <span class="input-group-text">€</span>
                          </div>
                          <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                            </ul>
                            </div>
                        </div>
                      <div class="col-6">
                        <label for="startdate" class="form-label">Data inizio</label>
                        <input th:field="*{startDate}" type="date" class="form-control" id="startdate" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('startDate')}" class="invalid-feedback">
                          <ul>
                              <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                          </ul>
                      </div>
                      </div>
                      <div class="col-6">
                          <label for="enddate" class="form-label">Data fine</label>
                              <input th:field="*{endDate}" type="date" class="form-control" id="enddate"  th:errorClass="is-invalid">
                              <div th:if="${#fields.hasErrors('endDate')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
                                </ul>
                          </div>
                      </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-edit"></i> MODIFICA</button>
                        </div>
                </form>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                      Ricorda
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Assicurati di inserire i dati correttamente</h5>
                      <p class="card-text">Prevenire è meglio che curare.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>